<!--Holder file for now, will eventually display infomration pertaining to subreddit stats-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subreddit Info</title>
</head>
<body>
    <h2>Subreddit Information:</h2>
    <p>Posts in <%= stats %></p>
</body>
</html>